*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #150F3D;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

.card{
    width: 380px;
    height: 480px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px;
    backdrop-filter: blur(10px);
}

.title{
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 14px;
    color: #90A2D0;
    margin: 10px 0;
}

.title img{
    margin-right: 5px;
    width: 25px;
}

.img-box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 100px;
    overflow: hidden;
    border: 2px solid #2B50F4;
    box-shadow: 0 0 12px #2B50F4;

}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(15px, 50px) scale(1.9);
}

h3{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
p{
    color: #a9b4ce;
    font-size: 14px;
    margin: 10px 0;
}
.ico-group{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    
}
.ico-group img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.ico-group img:hover{
    transform: translateY(-5px);
}

.btn{
    width: 100px;
    padding: 10px;
    background-color: #094cdf;
    color: #fff;
    cursor: pointer;
    border-radius: 8px ;
    margin-left: 120px;

    &:hover{
        background-color: #133274;
    }
}

.socials-group{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.socials-group img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.socials-group img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;;
}
